.App {
    height: 100%;
    text-align: center;
    padding: 40px;
    background-color: lightslategrey;
    color: whitesmoke;
}
.title{
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}